html, body {
  height: 100%
}

div.off-canvas-wrap {
  height: auto;
  min-height: 100%;
}

div.inner-wrap {
  margin-bottom: 40px;
}

footer {
  background: #333;
  padding: 10px 0;
  line-height: 2.8125rem;
  height: 40px;
  margin-top: -40px;
  margin-bottom: 0;
  overflow: visible;
  position: relative;
}

@media screen and (max-width: 980px) {
  footer {
    display: block;
    position: relative;
    margin-top: inherit;
    width: 100%;
    height: auto;
  }
  
  div.inner-wrap {
  margin-bottom: 0;
}
}

.top-bar-section {
  right: 0;
}

.sub-nav {
  background-color: #f2f2f2;
  padding: 10px 10px 10px 0;
  margin: 0 0 1.125rem;
}

.sub-nav dt a, .sub-nav dd a, .sub-nav li a {
  color: #008CBA;
}

footer p {
  color: #fff;
  margin: 0;
}

.stage .yeti img {
  max-width: 40%;
  position: absolute;
  right: 10%;
  top: 10%;
}

.stage {
  background: url(http://foundation.zurb.com/assets/img/marquee-stars.svg) #074e68;
  min-height: 500px;
  text-align: left;
  position: relative;
  padding: 60px 20px 0 20px;
  color: #fff !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)
}

#phalcon .stage {
  background: url(../img/falcon.jpg);
  background-size: cover;
  background-position: center;
}

.stage h1, 
.stage h2, 
.stage h3 {
  color: #fff;
}

.intro {
  background: #085a78;
  padding: 10px 0px;
  height: auto;
  border-bottom: 1px solid #333;
}

.intro h3, 
.intro h4,
.intro p {
  color: white;
}

.intro .button {
  margin: 1em 0 0 0;
}

.main {
  margin: 40px 0 20px;
}
