html, body {
  height: 100%
}

div.off-canvas-wrap {
  height: auto;
  min-height: 100%;
}

div.inner-wrap {
  margin-bottom: 40px;
}

footer {
  background: #333;
  padding: 10px 0;
  line-height: 2.8125rem;
  height: 40px;
  margin-top: -40px;
  margin-bottom: 0;
  overflow: visible;
  position: relative;
}

@media screen and (max-width: 980px) {
  footer {
    display: block;
    position: relative;
    margin-top: inherit;
    width: 100%;
    height: auto;
  }
}

.top-bar-section {
  right: 0;
}

footer p {
  color: #fff;
  margin: 0;
}

.stage .floatingyeti img {
  max-width: 40%;
  position: absolute;
  right: 100px;
  top: 30px;
}

.stage {
  background: url(http://foundation.zurb.com/assets/img/marquee-stars.svg) #074e68;
  height: 500px;
  text-align: left;
  position: relative;
  padding: 100px 20px 0 20px;
  color: #fff !important;
  /*flex: 1 0 auto;*/
  border-bottom: 1px solid #333;
}

#phalcon .stage {
  background: url(../img/falcon.jpg);
  background-size: cover;
  background-position: center;
}

.stage h1, 
.stage h2, 
.stage h3 {
  color: #fff;
}

.intro {
  background: #085a78;
  padding: 10px 0px;
  height: auto;
  flex: 1 0 auto;
}

.intro h3, .intro p {
  color: white;
}

.intro .button {
  margin: 1em 0 0 0;
}

.main {
  margin: 40px 0 20px;
}

.zurb-footer-bottom {
  background: #333333;
  padding: 24px 0 10px;
}

.zurb-footer-bottom ul.zurb-links {
  margin: 0;
  display: inline-block;
  padding-bottom: 0px;
}

.zurb-footer-bottom ul.home-social {
  display: block;
  float: right;
  margin-bottom: 8px;
}
