@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Source+Code+Pro);

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}


