<section class="stage">
  <div class="row">
    <div class="yeti">
    <?php print $this->tag->image("http://foundation.zurb.com/assets/img/homepage/hero-image.svg", false); ?>
    </div>
    <div class="small-8 medium-8 columns">
      <h1><?php echo $content->title ?></h1><br>
    </div>
    <div class="small-12 medium-8 columns">
      <h3><?php echo $content->description ?></h3><br>
    </div>
    <div class="columns"></div>
  </div>
  <div class="row">
    <div class="large-4 medium-6 columns">
      <?php print $this->tag->linkTo(array('docs', "Getting Started", 'class' => 'large button')); ?>
      <!--<?php print $this->tag->linkTo(array('docs', "Getting Started", 'class' => 'small button show-for-small')); ?>-->
    </div>
  </div>
</section>
